@charset "utf-8";

// import Canela
@font-face {
	font-family: "Canela";
	src: url("../css/Canela.woff2") format("woff2"),
		url("../css/Canela.woff") format("woff");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&display=swap");

// Set your brand colors
$verde: #9bb678;
$azul: blue;
// $brown: #757763;
$rose-light: #ffebee;
$rose-lighter: #fff3f5;

// Update Bulma's global variables
// $grey-dark: $brown;
$grey-light: $rose-light;
$grey-lighter: $rose-lighter;
$primary: $verde;
// $link: $pink;

// Update some of Bulma's component variables
$body-background-color: white;
$body-family: "Canela", serif;
$family-secondary: "Cambay", sans-serif;
$text-strong: inherit;
$title-color: inherit;
$subtitle-color: inherit;
$title-weight: 400;
$subtitle-weight: 700;
$body-size: 18px;
$navbar-item-color: white;
$navbar-item-hover-color: $primary;
$navbar-item-active-color: $primary;
$input-background-color: transparent;

// Import only what you need from Bulma
@import "../bulma/bulma.sass";

.is-size-0 {
	font-size: 4rem;
	line-height: 1.2;
}

.navbar-item img {
	max-height: none;
}

.head-home {
	background: url(../img/header-home.jpg) center / cover;
}
.head-historia {
	background: url(../img/_MG_3418.jpg) center / cover;
}
.head-metodo {
	background: url(../img/header-metodo.jpg) center / cover;
}
.head-gracias {
	background: url(../img/header-gracias.jpg) center / cover;
}
.head-contacto {
	background: url(../img/header-contacto.jpg) center / cover;
}
.head-land {
	background: url(../img/header-land.jpg) center / cover;
}
.head-micro {
	background: url(../img/header-micro.jpg) center / cover;
}
.head-sl {
	background: url(../img/header-sl.jpg) center / cover;
}



.bg-metodo {
	background: url(../img/bg-metodo.jpg) center top / cover;
}
.bg-home {
	background: url(../img/bg-home.jpg) center top / cover;
}
.bg-land {
	background: url(../img/bg-land.jpg) center top / cover;
}
.bg-micro {
	background: url(../img/bg-micro.jpg) center top / cover;
}



.banner-historia {
	background: url(../img/bg-historia.jpg) center bottom / cover;
}
.banner-metodo {
	background: url(../img/banner-metodo.jpg) center / cover;
}

.banner-home {
	background: url(../img/banner-home.jpg) center / cover;
	top: -7rem;
}
.banner-micro {
	background: url(../img/banner-home.jpg) center / cover;
	top: -9rem;
}
.banner-sl {
	background: url(../img/banner-sl.jpg) center / cover;
	top: -9rem;
	margin-bottom: -3rem;
}
.banner-sl2 {
	background: url(../img/banner-sl2.jpg) center / cover;
}

.title.overlay {
	position: absolute;
	bottom: 2rem;
	width: 100%;
}

.br-1 {
	border-right: 2px solid $primary;
}

.bl-1 {
	border-left: 1px solid #cadcbd;
}

.hablamos {
	padding: 1.5rem 5rem;
}

.input::placeholder,
.textarea::placeholder {
	font-family: $family-secondary;
	color: $primary;
	text-transform: uppercase;
	opacity: 0.8;
}

.button_wide {
	padding: 1.5rem 5rem;
}

.image_icons {
	height: 57px;
	align-items: center;
}

.lista p {
	margin-bottom: 0 !important;
	padding: 0 2rem;
}

.lista hr {
	height: 1px;
}

.planes .content {
	height: 70vh;
	padding: 3.5rem 3rem 5rem;
}

.flower-bg-left {
	top: -15%;
	z-index: -1;
}

.flower-bg-left2 {
	top: 18%;
	z-index: 10;
}

.figure-bg-left {
	top: 5%;
	z-index: -1;
}

.figure-bg-left2 {
	top: 65%;
	z-index: -1;
}

.figure-bg-left3 {
	top: 30%;
	z-index: -1;
}

.flower-bg-right {
	right: 0;
	bottom: -15%;
	left: unset;
	top: unset;
	// z-index: -1;
}

.flower-bg-right2 {
	right: 0;
	bottom: 5%;
	left: unset;
	top: unset;
	// z-index: -1;
}


.video_responsive {
	position: relative;
	padding-bottom: 56.25%; /*panorámico*/
	padding-top: 25px;
	height: 0;
}

.video_responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.cc-message {
    font-size: .9em;
}


@media screen and (max-width: 767px) {
	.is-size-0 {
		font-size: 2.5rem;
	}

	.navbar-item, .navbar-link {
    color: black;
	}

	.button_wide {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.banner-home, 
	.banner-micro {
		top: initial;
	}
	
	.bg-home {
		background: url(../img/bg-home.jpg) 15% top / cover;
	}
	
	.br-1 {
		border-right: 0;
	}

	.bg-metodo .columns .column.is-4,
	.bg-metodo .columns .content {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	.navbar-burger {
		margin: auto;
	}
	
	.maria, .col-3 {
		padding: 2rem 1.5rem !important;
	}
	
	.container.is-fluid, p.px-6 {
		padding: 0 !important;
	}
	
	
	.flower-bg-right,
	.flower-bg-right2,
	.flower-bg-left,
	.flower-bg-left2 {
		display: none;
	}
}



@media screen and (min-width: 1024px) and (max-width: 1407px) {
	.banner-micro {
		top: -5rem;
	}
}

